*, *::before, *::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}  

body{
    font-family: 'Montserrat', sans-serif;
    background-color:#dcdcdc ;
}  

.wrapper { 
	padding: 75px 25px 0 25px; 
}

.main {
    margin: 0 auto;
    /* padding: 20px; */
	max-width: 800x;
    height: auto;
    background-color: #fdfdfd;
	border: 1px solid #555252;
	border-radius: 3px;
}

h1 {
    font-size: 29px;
}  


#how-to {
    color: #ad1457;
} 
 
#input-header { 
    background-color: #ad1457;
    font-size: 13px;
    color: #fff;
}   

#help {
    color: #147cad;
    text-decoration: underline;
} 


@media (min-width: 1300px) {

    .wrapper {
        padding: 75px 250px 0 250px;
    }  

    #how-to-container {
        margin-left: 125px;
    } 

    #input-main { 
        margin: 5px 125px;
    }

    #movie-dinner-dump {
        margin: 3px 125px;
    } 

    h1 {
        font-size: 95px;
        font-weight: bold;
    } 

    .text { 
        font-size: 24px;
    } 
} 

@media (max-width: 920px) {
    .wrapper {
        padding: 25px 25px 0 25px;
    } 

    h1 {
        font-size: 29px;
    } 

    .text { 
        font-size: x-small;
    }
}